@model Waffle.Models.Components.Testimonial

<div class="bg-slate-200 testimonial">
    <div class="container">
        <div class="py-10 flex justify-center flex-col items-center">
            <div class="text-2xl font-medium text-center text-cyan-500 mb-3 italic">@Model.Title</div>
            <div class="border-cyan-500 border rounded-xl bg-slate-100 p-4 md:w-[1000px]">
                @foreach (var item in Model.Items)
                {
                    <div class="flex flex-col items-center justify-center">
                        <img src="https://thispersondoesnotexist.com/" class="w-32 h-32 rounded-full border border-cyan-500 mb-4" />
                        <div class="text-yellow-500 flex gap-2">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="py-3 text-center max-w-[500px]">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus mollis turpis, vitae tristique erat. In mattis mauris justo, id imperdiet dui convallis et
                        </div>
                        <div class="border-b border-cyan-800 w-64 mb-3"></div>
                        <div class="font-bold text-lg">Cô Nguyễn Thị Thanh</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
