@model string

<form class="mb-2" method="get">
    <div class="border rounded-full flex bg-white">
        <input type="search" name="searchTerm" placeholder="Tìm kiếm..." class="flex-grow px-4 rounded-full" value="@Model" autocomplete="off">
        <button type="submit" class="py-2 px-3">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</form>