@using Waffle.Models.Settings
@model Header

<header class="wf-header">
    <nav class="bg-white px-2 sm:px-4 py-2 w-full z-20 top-0 left-0 border-bottom border-gray-200 navbar">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a href="/" class="flex items-center">
                <img src="/files/dliti-logo.svg" class="h-10 md:h-20 mr-3" alt="Logo">
            </a>
            <div class="flex md:order-2 gap-2">
                <a href="/leaf/get-free-quote" class="px-6 py-2 bg-primary text-sm md:text-lg hover:opacity-25 rounded hover:text-white text-white get-quote">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    GET FREE QUOTE
                </a>
                <button data-toggle="collapse" data-target="#collapseNav" type="button" class="flex bg-gray-100 justify-center items-center h-10 w-10 text-muted rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-sticky" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="collapseNav">
                <ul class="flex flex-col md:text-xl p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md: fw-medium md:border-0 md:bg-white">
                    <li>
                        <a href="/" class="block py-2 pl-3 pr-4 text-gray-700 rounded md:bg-transparent md:text-blue-700 md:p-0" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="/leaf/decking" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Decking</a>
                    </li>
                    <li>
                        <a href="/leaf/fencing" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Fencing</a>
                    </li>
                    <li>
                        <a href="/leaf/gate" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Gate</a>
                    </li>
                    <li>
                        <a href="/leaf/pergola" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Pergola</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>