@using Waffle.Models.Settings
@model Header
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="/css/shinec.css" rel="stylesheet" />
<header id="site-header" class="site-header">

    <div class="header-topbar navbar elements-3">
        <div class="container-fluid">
            <ul class="nav topbar-ul element-left right-element-exist">
                <li>
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="nav top-menu">
                            <li id="menu-item-26305" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26305"><a href="#">Ngôn ngữ</a></li>
                            <li id="menu-item-26306" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26306"><a href="/leaf/viec-lam">Việc làm</a></li>
                            <li id="menu-item-26307" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26307"><a href="/search">Tìm kiếm</a></li>
                        </ul>
                    </div>
                </li>
            </ul><ul class="nav topbar-ul pull-center justify-content-center right-element-exist"><li>Mon – Fri: 8.00 am – 5.00 pm</li></ul><ul class="nav topbar-ul pull-right justify-content-end right-element-exist">
                <li>
                    <ul class="nav social-icons social-transparent social-white social-h-white social-bg-white social-hbg-white" target="_blank">
                        <li><a class="social-facebook" href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a class="social-instagram" href="#"><span class="fa fa-instagram"></span></a></li>
                        <li><a class="social-whatsapp" href=""><span class="fa fa-whatsapp"></span></a>			</li>
                    </ul><!-- .social-icons -->
                </li>
                <li></li>
            </ul>
        </div><!-- .container -->
    </div><!-- .header-topbar -->
    <div class="sticky-outer" data-stickyup="0">
        <div class="sticky-head" style="top: 0px;">
            <div class="header-navbar navbar elements-3">
                <div class="container-fluid">
                    <ul class="nav navbar-ul element-left right-element-exist">
                        <li class="header-titles-wrapper">
                            <div class="header-titles">
                                <a class="site-link" href="/"><img class="img-fluid site-logo" src="https://shinecgialai.com.vn/imgs/logo-shinec.svg" alt="Garland"></a>
                            </div><!-- .header-titles -->
                        </li><!-- .header-titles-wrapper -->
                    </ul><ul class="nav navbar-ul pull-center justify-content-center right-element-exist">
                        <li class="header-navigation-wrapper">
                            <nav class="primary-menu-wrapper" aria-label="Horizontal">
                                <ul class="nav wp-menu primary-menu">
                                    <li class="cus-img-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-24543 current_page_item current-menu-ancestor current_page_ancestor menu-item-has-children menu-item-26494 menu-item-has-mega-children">
                                        <a href="/leaf/gioi-thieu" aria-current="page">Về chúng tôi</a>
                                    </li>
                                    <li id="menu-item-63093" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-63093">
                                        <a href="#">Về CCN số 2 Đak Đoa</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-64983" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64983">
                                                <a href="#">Tổng quan về CCN</a>
                                            </li>
                                            <li id="menu-item-65330" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65330">
                                                <a href="/leaf/san-pham-dich-vu/thue-dat-cong-nghiep">Cho thuê đất công nghiệp</a>
                                            </li>
                                            <li id="menu-item-26784" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-26784">
                                                <a href="#">Cho thuê nhà xưởng xây sẵn</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-26491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26491">
                                                        <a href="/leaf/san-pham-dich-vu/thue-xuong-kho-xay-san">Nhà xưởng xây sẵn</a>
                                                    </li>
                                                    <li id="menu-item-26314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26314">
                                                        <a href="/leaf/san-pham-dich-vu/thue-dung-xuong-kho-theo-yeu-cau">Nhà xưởng theo yêu cầu</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="/leaf/san-pham-dich-vu/cho-thue-dat-thuong-mai">Cho thuê đất thương mại dịch vụ</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="/leaf/san-pham-dich-vu/thue-van-phong">Cho thuê văn phòng</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="#">Ngành mục tiêu</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="#">Bản đồ địa điểm</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="#">Khách hàng hiện tại</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="#">Phòng trưng bày</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="#">Dịch vụ CSKH</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-26315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-26315">
                                        <a href="#">Lợi ích của nhà đầu tư</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-cea-service"><a href="#">Tiện ích nội khu</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-cea-service"><a href="#">Tiện ích ngoại khu</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-cea-service"><a href="#">Khác biệt lợi thế</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-26490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                        <a href="/articles">
                                            Sự kiện và hoạt động
                                        </a>
                                    </li>
                                    <li id="menu-item-65918" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-65918 menu-item-has-mega-children">
                                        <a href="#">Liên hệ</a>
                                    </li>
                                </ul>
                            </nav><!-- .primary-menu-wrapper -->
                        </li><!-- .header-navigation-wrapper -->
                        <li>
                            <a class="full-search-toggle" href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                    </ul><ul class="nav navbar-ul pull-right justify-content-end right-element-exist"><li><a href="/" class="h-phone">VR 360<i class="fa-solid fa-vr-cardboard ms-2"></i></a></li></ul>
                </div><!-- .container -->
            </div><!-- .header-navbar -->
       
        
        <div class="header-mobilebar navbar">
			<div class="container">
				<ul class="nav mobilebar element-left right-element-exist">									<li class="header-mobile-toggle-wrapper">
										<a href="/" class="mobile-menu-toggle"><i class="bi bi-list"></i></a>
																			</li><!-- .header-navigation-wrapper -->
								</ul><ul class="nav mobilebar pull-center justify-content-center right-element-exist">									<li class="header-titles-wrapper">
										<div class="header-titles">
															<a class="site-link" href="/"><img class="img-fluid mobile-logo" src="https://shinecgialai.com.vn/imgs/logo-shinec.svg" alt="LOGO"></a>
														</div><!-- .header-titles -->
									</li><!-- .header-titles-wrapper -->
								</ul><ul class="nav mobilebar pull-right justify-content-end right-element-exist">									<li class="header-search-wrapper">
														<a class="full-search-toggle" href="#"><i class="bi bi-search"></i></a>
												</li>
								</ul>			</div><!-- .container -->
		</div>
        </div> <!-- .sticky-head -->
    </div> <!-- .sticky-outer -->

</header>