@page
@model Waffle.Pages.Users.ChangePasswordModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<div class="container">
    <div class="flex justify-center mb-4">
        <div class="col-md-4">
            <div class="title">Đổi mật khẩu</div>
            <form id="change-password-form" method="post">
                <div class="form-item">
                    <label asp-for="Input.OldPassword"></label>
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-item">
                    <label asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-item">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <localize key="updatePassword" />
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>