@page
@model Waffle.Pages.Users.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">
    <div class="title">@ViewData["Title"]</div>
    <p>
        Please check your email to reset your password.
    </p>
</div>