@page
@model Waffle.Pages.Users.ResetPasswordConfirmationModel

<div class="container p-4">
    <p>
        Your password has been reset. Please <a asp-page="/Users/Login">click here to log in</a>.
    </p>
</div>