@using Waffle.Entities
@model IEnumerable<Catalog>

<div class="mb-4 article-related">
    <div class="title">Bài viết liên quan</div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-2">
                <partial name="~/Pages/Articles/_ListItem.cshtml" model="item" />
            </div>
        }
    </div>
</div>