@using Waffle.Models.Components
@model ProductImage

<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper js-swiper-product-image">
    <div class="swiper-wrapper">
        @foreach (var item in Model.Images)
        {
            <div class="swiper-slide">
                <img src="@item" loading="lazy" alt="IMG" class="w-100" />
            </div>
        }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<div thumbsSlider="" class="swiper js-swiper-product-thumb" hidden>
    <div class="swiper-wrapper">
        @foreach (var item in Model.Images)
        {
            <div class="swiper-slide">
                <img src="@item" loading="lazy" alt="IMG" class="w-100" />
            </div>
        }
    </div>
</div>

<script>
    window.onload = () => {
        var swiper = new Swiper(".js-swiper-product-thumb", {
            spaceBetween: 10,
            slidesPerView: 4,
            freeMode: true,
            watchSlidesProgress: true,
        });
        var swiper2 = new Swiper(".js-swiper-product-image", {
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            thumbs: {
                swiper: swiper,
            },
        });
        document.querySelector('.js-swiper-product-thumb').removeAttribute('hidden');
    }
</script>