@page
@model Waffle.Pages.Contacts.ThankModel

<div class="container">
    <div class="wrapper text-center">
        <div class="icon">
            <i class="fas fa-envelope-open-text"></i>
        </div>
        <div class="thank-title">Thank a bunch for reaching out!</div>
        <div class="thank-sub-title">Cám ơn bạn đã liên hệ, chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất 💕</div>
    </div>
</div>