@using Waffle.Models.Components
@model Row

<div class="@Model.Layout">
    <div class="row">
        @foreach (var col in Model.Columns)
        {
            @await Component.InvokeAsync(nameof(Column), col)
        }
    </div>
</div>
