.svg-wrapper {
    width: 186px;
    margin: 1rem;
}

.container {
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.error-code {
    font-size: 5rem;
    font-weight: bold;
    color: var(--gray-500);
}

@media screen and (min-width: 768px) {
    .container {
        height: calc(100vh - 330px);
    }
}