@using Waffle.Models.Components
@model Column

<div class="@Model.ClassName">
    @foreach (var item in Model.Items)
    {
        @await Component.InvokeAsync(item.NormalizedName, item.Id)
    }
</div>